<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Unsubscribe Emails</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    .highlighted {
      background-color: green;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>Folders</th>
        <th>Subjects</th>
        <th>Unsubscribe</th>
        <th>Delete</th>
        <th>Content</th>
        <th>Spam</th>
      </tr>
    </thead>
    <tbody>
      {% for from_address, emails in email_map.items() %}
      <tr>
        <td>
          <center>
            <b>{{emails[0].sender}}</b>
            {% if from_address != emails[0].sender %}
            <i><br>{{ from_address }}</i>
            {% endif %}
          </center>
        </td>
        <!-- <td> -->
        <!--   <center>{{ from_address }}</center> -->
        <!-- </td> -->
        <td>
          <center>{{ emails | map(attribute='folder') | unique | join(',<br>') | safe }}</center>
        </td>
        <!-- <td>{{ emails | map(attribute='subject') | join(',<br>') | safe }}</td> -->
        <td>
          <ul style="padding-left: 15px;">
            {% for email in emails %}
            <li>{{ email.subject }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if emails[0].unsubscribe_url %}
          <button
            onclick="deleteEmails({{ emails }}); window.open('{{ emails[0].unsubscribe_url }}', '_blank'); highlightCell(this)">
            Unsubscribe
          </button>
          {% else %}
          N/A
          {% endif %}
        </td>
        <td>
          {% if emails[0].unsubscribe_url %}
          <button onclick="deleteEmails({{ emails }}); highlightCell(this)">
            Delete
          </button>
          {% else %}
          N/A
          {% endif %}
        </td>
        <td>
          <!-- Example button to show content - implementation depends on your needs -->
          <button onclick="alert('Content loading not implemented'); highlightCell(this)">Show Emails</button>
        </td>
        <td>
          <!-- Example button to show content - implementation depends on your needs -->
          <button onclick="alert('Content loading not implemented'); highlightCell(this)">Add to Spam</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

<script>
  function highlightCell(button) {
    var cell = button.parentElement;
    cell.classList.add('highlighted');
  }

  function deleteEmails(emails) {
    emails.forEach(email => {
      var folderId = email.folder_id;  // Assuming each email object has folder_id
      var messageId = email.message_id;  // Assuming each email object has message_id

      $.ajax({
        type: 'POST',
        url: '/delete',
        data: {folder_id: folderId, message_id: messageId},
        success: function (response) {
          console.log("Email deleted: ", response);
          // Additional UI update code can go here
        },
        error: function (response) {
          console.error("Error deleting email: ", response);
          // Error handling code can go here
        }
      });
    });
  }
</script>

</html>
